/* Estilos generales */
body {
    font-family: 'Keania One', sans-serif;
  }
  
  /* Estilos para el contenido */
  ion-content {
    --ion-background-color: linear-gradient(#0505a0, #2095cf);
    font-weight: bold;
    text-shadow: 0 0 50px black;
    --ion-font-family: 'Keania One', sans-serif;
  }

  /* Estilos para los títulos */
  h1 {
    font-weight: bold;
    text-shadow: 0 0 50px black;
    text-align: center;
  }
  ion-title {
    color: white;
    align-content: center;
  }  /* Estilos para los elementos de formulario */
  ion-item {
    --background: #ffffff;
    margin-top: 20px;
    border-radius: 10px;
    border-color: black;
    color: rgb(199, 31, 31);
    border: 3px solid black;
  }
  
  /* Estilos para los botones */
  ion-button {
    margin-bottom: 20px;
margin-top: 10px;
    --background: rgb(199, 31, 31);
    --border-color: black;
    --color: #ffffff;
    --border-radius: 10px;
    --border-color: black;
    font-weight: bold;
  }
  
  /* Estilos para el encabezado */
  .header {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
  }

  .errors span {
    color: red;
    font-size: small;
  }
  
  
  /* Estilos para el subtítulo del encabezado */
  .header .sub-title {
    color: rgb(199, 31, 31);
    font-size: 0.9rem;
  }
  
  /* Estilos para el título del encabezado */
  .header .title {
    font-size: 2rem;
  }
  